{{>partials/admin/header}}
<div class="container error404" >

        <main>
            <div class="sorry">
                <i class="fa-solid fa-heart-crack"></i>
                <span>Desculpe, essa página não existe!</span>
            </div>
        </main>

    </div>
    
</body>

</html>