<aside>
    <ul>
        <li {{#menu.editions}} class="select" {{/menu.editions}} ><a href="/admin">Congressos</a></li>
        <li {{#menu.articles}} class="select" {{/menu.articles}} ><a href="/admin/articles">Submissões</a></li>
        <li><a href="">Avaliações</a></li>
    </ul>
</aside>