<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>SGCIC - Administrador</title>
</head>
<body>
    <header>
        <a href="/admin" class="logo">
            <div class="img">
                <img src="/images/logo.png" width="100px" alt="">
            </div>
            <div class="description">
                <h1>SGCIC</h1>
                <h4>Sistema de Gerenciamento do <br>
                    Congresso de Iniciação Científica</h4>
                
            </div>
        </a>
        <div class="exit">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
    </header>
    
        